.Ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.div {
  display: flex;
  margin: 4px;
}
.button {
  border: 1px solid whitesmoke;
  background-color: chocolate;
  font-size: 1rem;
  border-radius: 7px;
}
.button:hover {
  background-color: rgb(80, 80, 233);
}
